
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/*----------    font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;      --------*/


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Bebas Neue', cursive;

}

.header {
    background-color: rgba(255, 255, 255, 0.3);
    height: 80px;
    /*fijamos el navbar a la pagina*/
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /*------------------------------*/
}

.nav {
    /*Asi se coloca el logo a la izq y los items a la derecha*/
    display: flex;
    justify-content: space-between;
    /*------------------------------*/
    max-width: 1366px;
    margin: 0 auto;
}

.nav_link {
    color: white;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    text-decoration: none;
    letter-spacing: 0.15em;

}

.logo {
    height: 80px;
    padding: 0 40px;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3));
}

.nav_menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav_menu_item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav_menu_link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav_menu_link:hover {
    color: #626567;
    transition: 0.5s;
}

.nav_toggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

#showcase {
    background-image: url(img/landing_page.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px 0px;
}


#showcase h1 {
  text-align: center;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  font-size: 50px;
  color: 	rgba(255, 255, 255, 0.8);
  letter-spacing: 0.25em;
}

#showcase p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 30px 100px;
  color: 	rgba(255, 255, 255, 0.8);

}
/*-----------------button------------*/
#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: 	rgba(255, 255, 255, 0.8);
    border: rgba(255, 255, 255, 0.8) 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    letter-spacing: 0.15em;

}

#showcase .button:hover {
  background: rgba(255, 255, 255, 0.8);
  color: grey;
  transition: 0.5s;

}


/*----------------------Media Query--------------------*/


@media (max-width: 768px) {
    body {
    }

    .logo {
        font-size: 20px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav_menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

    /*hacer que el nav ocupe toda la pantalla*/
        height: calc(100% - 58px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .nav_menu_item {
        line-height: 70px;
    }


    .nav_menu_link:hover {
        background: none;
    }

    .nav_toggle {
        display: block;
    }

    .nav_menu_visible {
        left: 0;
    }
}
